body {
    margin: 0 auto;
}

.top-header{
    display: flex;
    background-color: #F5F5F5;
    padding: 5px;
}

.top-header__right {}

.top-header__left {
    display: flex;
    align-items: center;
}

.top-header__contact {
    display: inline-block;
    background-image: url(/ico/ico_telephone.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.footer__contact {
    display: inline-block;
    background-image: url(/ico/ico_telephone.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
    text-decoration: none;
    color: #8ECAE6;
}

.top-header__email {
    display: inline-block;
    background-image: url(/ico/ico_email.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.footer__email {
    display: inline-block;
    background-image: url(/ico/ico_email.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
    text-decoration: none;
    color: #8ECAE6;
}

.top-header__login {
    display: block;
    background-image: url(/ico/ico_head__login.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 24px;
    text-decoration: none;
    color: black;
    
}

.navbar {
    position: absolute;
    width: 100%;
}

.menu-item__xx {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #F5841F;
    padding: 5px 0px;
    border: solid;
    border-radius: 12px;
}

.button {
    background-color: #F5841F;
    color: white;
    padding: 12px 12px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}

.button_position {
    display: flex;
    justify-content: center;
}

.section-uvod, .section-sponsors, .section-vyhody, .section-story, .section-napsali, .section-aktuality, .section-footer {
    padding: 32px 16px;
}

.section-uvod {
    padding-top: 80px;
}

.vyhody-blogs__item {
    background-color: white;
    box-shadow: 0px 0px 25px #D2E7EF;
    border-radius: 8px;
    margin: 28px;
    padding: 28px;
    height: 200px;
    gap: 38px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.vyhody-item__img {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #16213C;
    border-radius: 100%;
    padding: 15px;
}

.vyhody-item__position {
    display: flex;
    justify-content: center;
}

.kocky_position {
    display: flex;
    justify-content: center;
}

.section-white {
    background-color: white;
}

.section-blue {
    background-color: #F1F8FC;
}

.section-fafa {
    background-color: #fafafa;
}

.section-footer {
    background-color: #16213C;
}